
:root{
    --maincolor: #172A3A;
    --backgroundcolor: #dcfce7;
    --accent: #508991;
    --accent2: #004346;
}

*{
    font-size: 16px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundcolor);
}

header {
    background-color: var(--maincolor);
    color: white;
    text-align: center;
    padding: 1em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: var(--backgroundcolor);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
}

.serviceOption {
    margin: 10px;
}

.customizationOptions button {
    background-color: var(--accent);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    /* Add margin for spacing */
}

.customizationOptions button:hover {
    background-color: var(--accent);
}

select {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: var(--accent2);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: var(--accent);
}

#priceBreakdown {
    display: none;
    margin-top: 20px;
}

#selectedServicesList {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: var(--maincolor);
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add more styles as needed */